body{
  background-color:#ddfdfe;
  color: #00335a;
  font-family: "SolidWorks GDT";
  margin: 0px;
}
header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:60px;
  padding:0px 20px 0px;
  background-color:#ffffff;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
header nav{
  position: absolute;
  top: 40%;
}
nav a{
  text-decoration: none;
  padding: 5px;
  background-color: #00335a;
  color: #ffffff;
  border-radius: 5px;
}
nav a:hover{
  color: #ddfdfe;
}
nav #menu-img{
  display: none;
}
#logo{
  position: relative;
  left: 50%;
  height:100%;
}
.drop-menu{
  display: none;
  margin-top: 60px;
  //width: 100%;
}
.drop-menu ul{
  background-color: #00335a;
  padding: 1px;
}
.drop-menu li{
  color: #fff;
  border-bottom: 1px #fff solid;
  margin: 2px;
}
.drop-menu a{
  text-decoration: none;
  color: #fff;
  padding: 10px 5px 10px;
  width: 100%;
}
.main-div{
  position: relative;
  margin: auto;
  max-width: 1100px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-div{
  /* background-color: #aaaaaa; */
  width: 70%;
}
.content-div img{
  max-width: 100%;
}
.side-panel{
  position: fixed;
  top: 60px;
  width: 25%;
  margin: auto;
  right: 1px;
}

@media(max-width: 480px) {
  .main-div{
    flex-direction: column;
  }
  .side-panel{
    position: static;
  }
  .contact {
    display: none;
  }
}
