@media(max-width: 800px) {
  .main-div{
    max-width: 100%;
    flex-direction: column;
  }
  .side-panel{
    display: none;
  }
  /* .contact {
    display: none;
  } */
  .content-div{
    /* background-color: #aaaaaa; */
    width: 100%;
  }
  nav a{
    display: none;
    text-decoration: none;
    padding: 5px;
    background-color: inherit;
    color: #ffffff;
    border-radius: 5px;
  }
  nav #menu-img{
    display: block;
  }
  #logo{
    position: relative;
    left: 50%;
    height:100%;
  }
  .drop-menu{
    /* display:none; */
    margin-top: 60px;
    //width: 100%;
  }
  .bottom-panel{
    display: block;
    font-size: 2.8vw;
    width: 100%;
    justify-content: space-between;
  }
  .bottom-panel img{
    width: 30px;
  }
}
@media(max-width:520px) {
  .bottom-panel img{
    width: 20px;
  }
}
@media(max-width:390px) {
  .bottom-panel img{
    width: 12px;
  }
}
